.navigation {
  display: flex;
  align-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: dashed 1px #111;
  background-color: #eee;
  color: #001f3f;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
