.header {
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: darkgray;
}

.application-logo {
  width: 52px;
  height: 24px;
  border-right: solid 1px #e3e3e3;
  background: url(../assets/images/logo-placeholder.svg) no-repeat center center;
}

.application-title {
  margin-left: 15px;
  color: white;
}

.logged-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: white;
}

.btn-sign-out {
  width: 12px;
  height: 13px;
  border: none;
  background: url(../assets/images/icon-sign-out.svg);
  margin: 0 15px 0 6px;
}
